/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&family=Montserrat:wght@700;900&family=Poppins:wght@600&family=Roboto+Mono:wght@300;500&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@700;900&family=Playfair+Display:wght@700;900&family=Roboto+Mono:wght@300;500&display=swap');

/*Global Varible for setting the style */
:root{
    --primary-color:rgb(80, 80, 80);
    --secondary-black:rgb(0, 0, 0);
    --secondary-gray:rgb(78, 76, 76);
    --body-bg: rgb(246, 246, 246);
    /* rgb(233, 245, 255); */
}

/* Styling for global */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family:'Roboto Mono',sans-serif;
    font-size: 10px;
    font-weight:400;
    scroll-behavior: smooth;
}

body{
    background-color: var(--body-bg);
}


img{
    width: 100%;
    height: 100%;
}

a{
    color:black;
    text-decoration: none;
}

p{
    margin-top: 3rem;
    /* max-width: 500px; */
    font-size: 1.5rem;
    color: var(--secondary-black);
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
}


.PrimButton{
    display: inline-block;
    background-color: var(--primary-color);
    color: white;
    font-size: 1.5rem;
    padding: 0.8em 1.6em;
    border-radius: 50px;
}

.PrimButtonOutline{
    display: inline-block;
    background-color: white;
    color:var(--primary-color);
    font-size: 1.5rem;
    padding: 0.8em 1.6em;
    border-radius: 50px;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 3rem;
    gap: 2rem;
}

.buttons svg{
    width: 20px;
    color: var(--primary-color);
}

@keyframes come{
    0%{
        top:-400px;
    }
    100%{
        top:0;
    }
}

@keyframes show{
    0%{
        opacity: 0;
    }
    100%{
        opacity:1;
    }
}

/* End of Styling for Global */


/* scroll to top  */
.scroll-top{
    z-index: 100;
    height: 60px;
    Width: 60px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor:pointer;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background-color: white;
    transform: scale(0.9);
    transition: 0.3s ease ease-in-out transform;
}

.scroll-top svg{
    width:60%;
    color: black;
    pointer-events: none;
}

.scroll-top:hover {
	transform: scale(1.2);
    background-color:black;
}

.scroll-top:hover svg {
	/* transform: scale(1); */
    color:white;
}





/* end scroll to top  */



/* Making Nagivation Section */
#nagivation{
    position: fixed;
    top: 20px;
    right: 50px;
    height: auto;
    z-index: 100;
}

#nagivation .iconnagivation{
    width: 50px;
    height: 50px;
    margin-right: 0;
    cursor: pointer;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

#nagivation .iconnagivation svg{
    color: white;
    width: 60%;
}

#contentnagivation{
    position: fixed;
    width: 80%;
    height: 100%;
    max-width: 800px;
    background-color: var(--secondary-black);
    right:0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 100;
    /* outsite of window */
    transform: translateX(110%); 
    transition: 0.3s ease transform;
}

#contentnagivation.show {
    transform: translateX(0);
}


#contentnagivation .wrapper{
    width: 70%;
    position: relative;
}

#contentnagivation .wrapper h2{
    font-size: 6rem;
    font-weight:700;
    font-family: 'DM Sans';
    text-align: left;
    justify-content: center;
    margin-bottom: 10rem;
}

#contentnagivation .wrapper ul{
    list-style: none;
    text-align: left;
}

#contentnagivation .wrapper ul li{
    list-style: none;
    text-align: left;
    padding: 5px;
}

#contentnagivation .wrapper ul li a{ 
    color: white;
    width: 100%;
    font-size: 3rem;
    font-family: 'DM Sans', sans-serif;
}

#contentnagivation .wrapper ul li:hover a{
    color: rgb(172, 152, 126);
}

#contentnagivation .wrapper ul li:hover{
    background-color: white;
    border-radius: 10px;
}

#contentnagivation .closebutton{
    position: absolute;
    left: 30px;
    top: 30px;
    color: white;
    background-color: rgb(172, 152, 126);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15%;
    cursor: pointer;
    transition: 0.3 ease background-color;
}

#contentnagivation .closebutton svg{
    width: 60%;
}

#contentnagivation .closebutton:hover{
    background-color: white;
    color: rgb(172, 152, 126);
}

#contentnagivation .Sectionheading{
    text-align: left;
}

/* on smaller screen */
@media screen and (max-width:768px) {
    #nagivation{
        right: 10px;
        top: 10px;
    }

    #contentnagivation .wrapper h2{
        text-align: right;
    }
    
    #contentnagivation .wrapper ul{
        text-align: right;
    }
    
    #contentnagivation .wrapper ul li{
        text-align: right;
    }

    #contentnagivation .wrapper ul li a{
        font-size: 2.5rem;
        padding: 0px;
    }

    #contentnagivation .wrapper{
        width: 80%;
        padding-right: 20px;
    }

    #contentnagivation .wrapper ul li{
        gap: 10px;
        padding: 5px;

    }

    #contentnagivation .wrapper ul li:hover{
        background-color: white;
        border-radius: 10px;
    }
       
}

/* End Nagivation Section */




/* Making Hero Section */
#hero{
    /* height: 100vh; */
    width: 100%;
    padding-top: 20rem;
}

.container{
    width: 90%;
    margin: 0 auto;
    max-width: 1000px;
}


#hero .container{
    display:flex;
    align-items: center;
    justify-content: center;
}

#hero .container .left{
    flex:5;
}
#hero .container .right{
    flex:5;
}

#hero .left .heading{
    font-size: 6rem;
    font-weight:700;
    font-family: 'DM Sans';
}

#hero .left .heading .wrapper{
    overflow: hidden;
}

#hero .left .heading .wrapper span{
    position: relative;
    top: -400px;
    animation: come 1s ease-in-out forwards;
}

#hero .left .subheading{
    font-size: 2rem;
    font-weight:500;
    color: var(--primary-color);
    margin-top: 3rem;
    max-width: 500px;
    opacity: 0; 
    animation: show 0.5s ease-in forwards;
    animation-delay: 1s;
}

#hero .left .description{
    margin-top: 3rem;
    max-width: 500px;
    font-size: 1.5rem;
    color: var(--secondary-black);
    opacity: 0; 
    animation: show 0.5s ease-in forwards;
    animation-delay: 1s;
}

#hero .left .buttons{
    opacity: 0; 
    animation: show 0.5s ease-in forwards;
    animation-delay: 1s;
}

#hero .right{
    text-align: right;
}

#hero .right .img{
    width: 120%;
    height: 120%;
    border-radius: 50%;
    max-width: 350px;
    max-height: 350px;
    object-fit: cover;
}

#hero .left .buttonslink {
    padding-top: 20px;
    padding-bottom: 20px;
    opacity: 0; 
    animation: show 0.5s ease-in forwards;
    animation-delay: 1s;
    margin-top: 3rem;
    gap: 8px;
    display: flex;
    justify-content: flex-start;
}

/* on smaller screen */
@media screen and (max-width:768px) {
    html{
        font-size: 8px;
    }

    #hero .container{
        flex-direction: column-reverse;
    }

    #hero .container .right{
        text-align: center;
    }

    #hero .container .left{
        text-align: center;
        height: fit-content;
    }

    #hero .container .left .heading .wrapper{
        text-align: center;
        font-size: 4rem;
    }

    #hero .left .buttonslink{
        justify-content: center;
        padding: 10px;
    }

    #hero .right .img{
        width: 200px;
        height: 200px;
        padding: 10px;
    }
    
}

/* End Hero Section */

/* Making Skills Section */
#skills{
    width: 100%;
    padding-top: 20rem;
}

#skills .container{
    margin-bottom: 2rem;
}

#skills .Sectionheading{
    font-size: 6rem;
    font-weight:700;
    font-family: 'DM Sans';
}

#skills .Sectionheading .wrapper{
    text-align: center;
}

#skills .container .skillsdescription{
    text-align: center;
    align-items: center;
    font-size: 2rem;
    color: var(--primary-color);
}

#skills .containerskills{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:0.8rem;
    margin-top: 3rem;
}

#skills .skill{
    font-size: 1.5rem;
    background-color: var(--primary-color);
    color: white;
    font-size: 1.5rem;
    margin-top: 2rem;
    padding: 0.8em 1.6em;
    border-radius: 50px;
    max-width: 1000px;
}

/* on smaller screen */
@media screen and (max-width:768px) {

    #skills .container .Sectionheading .wrapper{
        text-align: center;
        justify-content: center;
        font-size: 4rem;
    }
    
    #skills .AllSkills{
        justify-content: center;
        align-items: center;
    }
    
    #skills .containerskills{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
        
    }

/* End Skills Section */



/* Making Projects Section */

#projects{
    padding: 20rem 0;
    /* margin-bottom: 100px; */
}

#projects .container .Sectionheading{
    font-size: 6rem;
    font-weight:700;
    font-family: 'DM Sans';
}

#projects .container .Sectionheading .wrapper{
    font-size: 6rem;
    font-weight:700;
    font-family: 'DM Sans';
    text-align: center;
    justify-content: center;
}

#projects .container .projectsdescription{
    justify-content: center;
    text-align: center;
    margin-bottom: -5rem;
    font-size: 2rem;
    color: var(--primary-color);
}   


#projects .container .Sectionheading .wrapper{
    font-size: 6rem;
    font-weight:700;
    font-family: 'DM Sans';
    text-align: center;
    justify-content: center;
}

#projects .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 15rem;
}

#projects .all-items{
    margin-top: 10rem;
}


#projects .item:nth-child(even){
    flex-direction: column;
}

#projects .item .left{
    flex: 1;
}

#projects .item .right{
    flex: 1;
    background-color: white;
    padding: 5rem 5rem;
    border-radius: 12px;
    box-shadow: 0 0 20px rgb(156, 156, 156);
    z-index: 2;
}

#projects .item:nth-child(even) .right{
    margin-left: 0px;
}



#projects .item .left .image{
    /* height: 500px; */
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0px 0px 20px rgb(156,156,156);
    position: relative;
}

#projects .item .left .image::after{
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

#projects .item .left .image img{
    object-fit: cover;
    max-width: 1000px;
    padding: 10px;
}

#projects .item:hover .left .image img{
    /* transform: scale(1.1); */
    transform: scale(1.02);
    z-index: 1;
    transition: 1.3s ease transform;
} 

#projects .item .right .project-title{
    font-size: 2.5rem;
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 1rem;
}

#projects .item .right .project-subtitle{
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

#projects .item .right .project-description{
    font-family: 1rem;
    color: var(--secondary-gray);
    margin-bottom: 3rem;
}

#projects .item .right .buttons .external{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: rgb(221, 221, 221);
}


#projects .item .right .buttons .external svg{
    width: 17px;
}


@media screen and (max-width:768px) {

    #projects .item{
        flex-direction: column;
    }

    #projects .item .left{
        width: 100%;
    }

    #projects .item .right{
        width: 90%;
        margin-left: 0;
        margin-top: -50px;
    }
    
    #projects .item:nth-child(even){
        flex-direction: column;
    }

    #projects .item:nth-child(even) .left{
        margin-left: 0;
    }

    #projects .container .Sectionheading .wrapper{
        text-align: center;
        justify-content: center;
        font-size: 4rem;
    }  

}


@media screen and (max-width: 450px){
    #projects .item .buttons{
        flex-direction: column-reverse;
    }
    #projects .item .buttons a{
        width: 100%;
        text-align: center;
    }
}

/* End Projects Section */


/* Making Certicates Section */

#certificates{
    padding: 10rem 0;
    margin-top: -300px;
} 


#certificates .container .Sectionheading{
    font-size: 6rem;
    font-weight:700;
    font-family: 'DM Sans';
    margin-top: 100px;
}

#certificates .container .Sectionheading .wrapper{
    font-size: 6rem;
    font-weight:700;
    font-family: 'DM Sans';
    text-align: center;
    justify-content: center;
}

#certificates .container .certificatesdescription{
    justify-content: center;
    text-align: center;
    margin-bottom: -5rem;
    font-size: 2rem;
    color: var(--primary-color);
}   


#certificates .container .Sectionheading .wrapper{
    font-size: 6rem;
    font-weight:700;
    font-family: 'DM Sans';
    text-align: center;
    justify-content: center;
}

#certificates .item{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 15rem;
}

#certificates .all-items{
    margin-top: 10rem;
}

#certificates .item .left{
    flex: 1;
}

#certificates .item .right{
    flex: 1;
    background-color: white;
    padding: 5rem 5rem;
    border-radius: 12px;
    box-shadow: 0 0 20px rgb(156, 156, 156);
    z-index: 2;
    margin-top: -100px;
    text-align: center;
}

#certificates .item:nth-child(even) .right{
    margin-left: 0px;
}

#certificates .item .left .image{
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0px 0px 20px rgb(156,156,156);
    position: relative;
}

#certificates .item .left .image::after{
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

#certificates .item .left .image img{
    object-fit: cover;
    max-width: 1000px;
    padding: 10px;
}

#certificates .item:hover .left .image img{
    transform: scale(1.02);
    z-index: 1;
    transition: 1.3s ease transform;
} 

#certificates .item .right .certificates-title{
    font-size: 2.5rem;
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 1rem;
}

#certificates .item .right .certificates-subtitle{
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

#certificates .item{
    align-items: center;
}
#certificates .item .right .buttons {
    justify-content: center;
}
#certificates .item .right .buttons .external{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: rgb(221, 221, 221);
}


#certificates .item .right .buttons .external svg{
    width: 17px;
}


@media screen and (max-width:768px) {

    #certificates .item{
        flex-direction: column;
    }

    #certificates .item .left{
        width: 100%;
    }

    #certificates .item .right{
        width: 90%;
        margin-left: 0;
        margin-top: -50px;
    }
    
    #certificates .item:nth-child(even){
        flex-direction: column;
    }

    #certificates .item:nth-child(even) .left{
        margin-left: 0;
    }

    #certificates .container .Sectionheading .wrapper{
        text-align: center;
        justify-content: center;
        font-size: 4rem;
    }  

}


@media screen and (max-width: 450px){
    #certificates .item .buttons{
        flex-direction: column-reverse;
    }
    #certificates .item .buttons a{
        width: 100%;
        text-align: center;
    }
}

/* End Certicates Section */


/* Making Experiences Section */
#experiences{
    padding: 20rem 0;
    margin-top: -200px;
    text-align: center;
}

#experiences .container .Sectionheading{
    max-width: 1000px;
}

#experiences .container .Sectionheading .wrapper{
    font-size: 6rem;
    font-weight:700;
    font-family: 'DM Sans';
    text-align: center;
    justify-content: center;
}

#experiences .container .experience-title{
    font-size: 2rem;
    font-weight:500;
    font-family: 'DM Sans', sans-serif;
    margin-top: 5rem;
}


#experiences .container .experience-subtitle{
    margin-bottom: 5rem;
    font-size: 1.3rem;
}


#experiences .container .allexperiences{
    flex-grow: 1;
}

#experiences .container .groupexperiences{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    min-height: 100%;
    gap: 3em;
}

@media screen and (max-width:768px) {

    #experiences .container .experience-title{
        margin-top: 5rem;
    }

    #experiences .container .experience-subtitle{
        margin-bottom: 2rem;
    }
    

    #experiences .container .Sectionheading .wrapper{
        text-align: center;
        justify-content: center;
        font-size: 4rem;
    }  

    #experiences .container .allexperiences{
        flex-direction: column;
        justify-content: center;
    }

    #experiences .container .groupexperiences{
        margin-bottom: -70px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
    }

    #experiences .container .experience{
        text-align: center;
    }

}
/* End Experiences Section */


/* Making Footer Section */
#footer{
    /* margin-top: 170px; */
    background-color: black;
    padding: 15rem 0 15rem 0;
    color: white;
    padding: 10rem 0;
}

#footer footer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
}

#footer footer .column1{
    flex: 2;
}

#footer img{
    max-width: 200px;
    border-radius: 50%;
}

#footer footer .column1 p{
    color:white
}

#footer footer .Columnheading{
    font-family: 'DM Sans';
    font-size: 2rem;
    margin-bottom: 2rem;
}

#footer footer .column2{
    flex: 1;
}

#footer footer .column3{
    flex: 2;
}

#footer footer .column4{
    flex: 1;
}

#footer ul{
    list-style: none;
}

#footer ul li{
   border-radius: 5px;
}

#footer ul li a{
    display: inline-block;
    color: white;
    font-size: 1.4rem;
    padding: 0.5rem;
}

#footer footer ul li:hover a{
    color: rgb(172, 152, 126);
}

#footer footer ul li:hover{
    background-color: white;
}

@media screen and (max-width:768px) {

    #footer footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #footer footer .column1, #footer footer .column2, #footer footer .column3, #footer footer .column4{
        width: 100%;
        margin-bottom: 2rem;
    }
}

/* End Footer Section */


/* Making Copyright Section */

#copyright{
    background-color: white;
    padding-bottom: 1rem;
    align-items: center;
    justify-content: center;
}

#copyright p{
    color: black;
    font-size: 1.4rem;
    text-align: center;
    align-items: center;

}

/* End Copyright Section */


/* Making Error Section */

#cases-links{
    padding: 5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cases-links h2{
    font-size: 5rem;
}

#cases-links h2:hover{
    color: rgb(172, 152, 126);
}

/* End Error Section */


/* custom scrollbar  */
::-webkit-scrollbar{
    width: 6px; 
    background:rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb{
    background: rgb(119, 119, 119);
    border-radius: 50px;
}
/* end custom scrollbar  */

* {box-sizing:border-box}


/* bagiancontainer 1  ///////////////// */

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Make the images invisible by default */
.Containers {
  display: none;
}

/* forward & Back buttons */
.Back, .forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  color: rgb(172, 152, 126);
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

/* Place the "forward button" to the right */
.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}

/*when the user hovers,add a black background with some little opacity */
.Back:hover, .forward:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption Info */
.Info {
  color: #e3e3e3;
  background-color: rgb(78, 76, 76);
  font-size: 16px;
  padding: 10px 14px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

/* Worknumbering (1/3 etc) */
.MessageInfo {
  color: rgb(78, 76, 76);
  background-color: #e3e3e3;
  font-size: 14px;
  padding: 10px 14px;
  position: static;
  top: 0;
}

/* The circles or bullets and indicators */
.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: rgb(172, 152, 126);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.enable, .dots:hover {
  background-color: #717161;
}

/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}


/* bagiancontainer 2  ///////////////// */

/* Slideshow container */
.slideshow-container2 {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Make the images invisible by default */
  .Containers2 {
    display: none;
  }
  
  /* forward & Back buttons */
  .Back2, .forward2 {
    cursor: pointer;
    position: absolute;
    top: 48%;
    width: auto;
    margin-top: -23px;
    padding: 17px;
    color: rgb(172, 152, 126);
    font-weight: bold;
    font-size: 19px;
    transition: 0.4s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
  }
  
  /* Place the "forward button" to the right */
  .forward2 {
    right: 0;
    border-radius: 4px 0 0 4px;
  }
  
  /*when the user hovers,add a black background with some little opacity */
  .Back2:hover, .forward2:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption Info */
  .Info2 {
    color: #e3e3e3;
    background-color: rgb(78, 76, 76);
    font-size: 16px;
    padding: 10px 14px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
  }
  
  /* Worknumbering (1/3 etc) */
  .MessageInfo2 {
    color: rgb(78, 76, 76);
    background-color: #e3e3e3;
    font-size: 14px;
    padding: 10px 14px;
    position: static;
    top: 0;
  }
  
  /* The circles or bullets and indicators */
  .dots2 {
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0 3px;
    background-color: rgb(172, 152, 126);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
  }
  
  .enable, .dots2:hover {
    background-color: #717161;
  }
  
  /* Faint animation */
  .fade2 {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.4s;
    animation-name: fade;
    animation-duration: 1.4s;
  }
  
  @-webkit-keyframes fade2 {
    from {opacity: .5}
    to {opacity: 2}
  }
  
  @keyframes fade2 {
    from {opacity: .5}
    to {opacity: 2}
  }

/* bagiancontainer 3  ///////////////// */

/* Slideshow container */
.slideshow-container3 {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Make the images invisible by default */
  .Containers3 {
    display: none;
  }
  
  /* forward & Back buttons */
  .Back3, .forward3 {
    cursor: pointer;
    position: absolute;
    top: 48%;
    width: auto;
    margin-top: -23px;
    padding: 17px;
    color: rgb(172, 152, 126);
    font-weight: bold;
    font-size: 19px;
    transition: 0.4s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
  }
  
  /* Place the "forward button" to the right */
  .forward3 {
    right: 0;
    border-radius: 4px 0 0 4px;
  }
  
  /*when the user hovers,add a black background with some little opacity */
  .Back3:hover, .forward3:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption Info */
  .Info3 {
    color: #e3e3e3;
    background-color: rgb(78, 76, 76);
    font-size: 16px;
    padding: 10px 14px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
  }
  
  /* Worknumbering (1/3 etc) */
  .MessageInfo3 {
    color: rgb(78, 76, 76);
    background-color: #e3e3e3;
    font-size: 14px;
    padding: 10px 14px;
    position: static;
    top: 0;
  }
  
  /* The circles or bullets and indicators */
  .dots3 {
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0 3px;
    background-color: rgb(172, 152, 126);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
  }
  
  .enable, .dots3:hover {
    background-color: #717161;
  }
  
  /* Faint animation */
  .fade3 {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.4s;
    animation-name: fade;
    animation-duration: 1.4s;
  }
  
  @-webkit-keyframes fade3 {
    from {opacity: .5}
    to {opacity: 2}
  }
  
  @keyframes fade3 {
    from {opacity: .5}
    to {opacity: 2}
  }


  /* bagiancontainer 4  ///////////////// */

/* Slideshow container */
.slideshow-container4 {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Make the images invisible by default */
  .Containers4 {
    display: none;
  }
  
  /* forward & Back buttons */
  .Back4, .forward4 {
    cursor: pointer;
    position: absolute;
    top: 48%;
    width: auto;
    margin-top: -23px;
    padding: 17px;
    color: rgb(172, 152, 126);
    font-weight: bold;
    font-size: 19px;
    transition: 0.4s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
  }
  
  /* Place the "forward button" to the right */
  .forward4 {
    right: 0;
    border-radius: 4px 0 0 4px;
  }
  
  /*when the user hovers,add a black background with some little opacity */
  .Back4:hover, .forward4:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption Info */
  .Info4 {
    color: #e3e3e3;
    background-color: rgb(78, 76, 76);
    font-size: 16px;
    padding: 10px 14px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
  }
  
  /* Worknumbering (1/3 etc) */
  .MessageInfo4 {
    color: rgb(78, 76, 76);
    background-color: #e3e3e3;
    font-size: 14px;
    padding: 10px 14px;
    position: static;
    top: 0;
  }
  
  /* The circles or bullets and indicators */
  .dots4 {
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0 3px;
    background-color: rgb(172, 152, 126);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
  }
  
  .enable, .dots4:hover {
    background-color: #717161;
  }
  
  /* Faint animation */
  .fade4 {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.4s;
    animation-name: fade;
    animation-duration: 1.4s;
  }
  
  @-webkit-keyframes fade4 {
    from {opacity: .5}
    to {opacity: 2}
  }
  
  @keyframes fade4 {
    from {opacity: .5}
    to {opacity: 2}
  }




  /* bagiancontainer 5  ///////////////// */

/* Slideshow container */
.slideshow-container5 {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Make the images invisible by default */
  .Containers5 {
    display: none;
  }
  
  /* forward & Back buttons */
  .Back5, .forward5 {
    cursor: pointer;
    position: absolute;
    top: 48%;
    width: auto;
    margin-top: -23px;
    padding: 17px;
    color: rgb(172, 152, 126);
    font-weight: bold;
    font-size: 19px;
    transition: 0.4s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
  }
  
  /* Place the "forward button" to the right */
  .forward5 {
    right: 0;
    border-radius: 4px 0 0 4px;
  }
  
  /*when the user hovers,add a black background with some little opacity */
  .Back5:hover, .forward5:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption Info */
  .Info5 {
    color: #e3e3e3;
    background-color: rgb(78, 76, 76);
    font-size: 16px;
    padding: 10px 14px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
  }
  
  /* Worknumbering (1/3 etc) */
  .MessageInfo5 {
    color: rgb(78, 76, 76);
    background-color: #e3e3e3;
    font-size: 14px;
    padding: 10px 14px;
    position: static;
    top: 0;
  }
  
  /* The circles or bullets and indicators */
  .dots5 {
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0 3px;
    background-color: rgb(172, 152, 126);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
  }
  
  .enable, .dots5:hover {
    background-color: #717161;
  }
  
  /* Faint animation */
  .fade5 {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.4s;
    animation-name: fade;
    animation-duration: 1.4s;
  }
  
  @-webkit-keyframes fade5 {
    from {opacity: .5}
    to {opacity: 2}
  }
  
  @keyframes fade5 {
    from {opacity: .5}
    to {opacity: 2}
  }


